
* {
    box-sizing: border-box;
    padding: 0;
}

h2 {
    font-family:'Dancing Script', cursive;   
  }

.container {
    padding-left: 0;
    padding-right: 0;
    position: relative;

}

/* NAVIGATION SECTION */

  .navbar {
      position: absolute;
      width: 100%;
      z-index: 4;
      padding-right: 30px;
  }

  .btn-light:hover {
    background-color: #e8eaf6;
}

  /* JUMBOTRON SECTION */

  .jumbotron {
    color: white;
    background-image: url("Images/deva-williamson-YpIKbBZtSWY-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
  }

  .mybutton {
    background-color: #fbc2c8;
  }


  .mytitle {
      padding-top:200px;
      padding-left: 20px;
      font-family:'Dancing Script', cursive;
      color: purple;
  }

  .jumbotron p {
      color: purple;
      padding-left: 20px;
  }

/* ABOUT US SECTION */

  .myrows {
      background-color: #fbc2c8;
  }

/* SERVICES SECTION */

  .myserviceicons {
      font-size: 4rem;
      text-align: center;
      margin-top: 40px;
      color: #fdccd0;
  }

/* GALLERY SECTION */

.mygallery {
    background-color: #e8eaf6;
}

.mygallery img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.myslides {
    background-position: center;
    background-size: cover;
    width: 100%;
}
  

/* CAROUSEL SECTION */

.carousel-item img {
    background-position:left;
}


/* FOOTER SECTION */

footer {
    background-color: #fbc2c8;;
}

.myicons {
    color: black;
    font-size: 2rem;
}

.myicons:hover {
    color:#e8eaf6;
}


@media (min-width: 576px) { 
    
}


@media (min-width: 768px) { 

    .myslides {
        background-position: center;
        background-size: cover;
        width:auto;
        height: 400px;
    }
}
